@import 'styles.css';
@import 'app/app.component.css';
@import 'app/portal.component.css';
@import 'app/weapon.component.css';
@import 'app/creature.component.css';
@import 'app/weapon.component.css';


.emotion, .emotion.mdl-tooltip, .emotion.mdl-tooltip.is-active {
	position:absolute!important;
	left:50%!important;
	top:0!important;
	margin-top:-40px;
	margin-left:-50%;
	z-index:4000;
	animation:none;
	-webkit-animation: none;
	transform:none;
	-webkit-transform: none;
	
}