/* Common styles */
.page {
}


/* Elements should be declared here */
.element {
	float:left;
	margin:2em 0 0 2em;
	overflow:visible !important;
}

.element[level="2"] {
	min-width:500px;
}

.element[percentHealth="100"] {
	opacity:1;
}
.element[percentHealth="90"] {
	opacity:0.9;
}
.element[percentHealth="80"] {
	opacity:0.8;
}
.element[percentHealth="70"] {
	opacity:0.7;
}
.element[percentHealth="60"] {
	opacity:0.6;
}
.element[percentHealth="50"] {
	opacity:0.5;
}
.element[percentHealth="40"] {
	opacity:0.4;
}
.element[percentHealth="30"] {
	opacity:0.3;
}
.element[percentHealth="20"] {
	opacity:0.2;
}
.element[percentHealth="10"] {
	opacity:0.1;
}



.page {
	position: relative;
	border: inherit;
	padding: inherit;
	min-height: inherit;
}

creature {
	font-size:24px;
}

.emotion  {
	background: rgba(97,97,97,.9);
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
	position:absolute;
	top:0;
	left:50%;
    font-weight: 500;
    line-height: 14px;
    max-width: 170px;
    padding: 8px;
    text-align: center;	
	z-index:4000;
	-moz-transition: all 2s ease-out!important;  /* FF4+ */
    -o-transition: all 2s ease-out!important;  /* Opera 10.5+ */
    -webkit-transition: all 2s ease-out!important;  /* Saf3.2+, Chrome */
    -ms-transition: all 2s ease-out!important;  /* IE10 */
    transition: all 2s ease-out!important;	
	
}

.emotion.animate {
	top:-50px;
	opacity:0;
}


