.portal-button-container { /* applies to the portal container */	
	position:absolute;	
	z-index: 500; /* under creatures */ 
	top:50vh;
	left:50vw;	
}

.portal[health="90"] {
	opacity:0.9;
}
.portal[health="80"] {
	opacity:0.8
}

.portal[health="70"] {
	opacity:0.7;
}
.portal[health="60"] {
	opacity:0.6;
}
.portal[health="50"] {
	opacity:0.5;
}
.portal[health="40"] {
	opacity:0.4;
}
.portal[health="30"] {
	opacity:0.3;
}
.portal[health="20"] {
	opacity:0.2;
}
.portal[health="10"] {
	opacity:0.1;
}